/.venv
/logs
/absolute
/elysia_model
/elysia_adapter
/elysia_model_fp16
/results
/training_data.txt
/unsloth_compiled_cache
/也许吧.txt
/backups
/offload
/data.json
/_unsloth_temporary_saved_buffers
/output.gguf